#painter{
    margin: 25px  0 0 55px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
}
#canvas {
    background-color:white;
    cursor: url("paint-brush.png"),auto;
}
#menu {
    width: 21%;
    padding: 0 0 0 10px;
    background-color:grey;
}
#demo {
    width: 50%;
    height: 60px;
    margin: 10% 25% 0 25%;
    background-color:white;
}
#typeface {
    width: 50%;
    margin: 5% 0 5% 25%;
}
#p {
    background-image: url("paint-brush_i.png");
}
#e {
    background-image: url("eraser_i.png");
}
#T {
    background-image: url("font.png");
}
#clr {
    background-image: url("clear.png");
}
#l {
    background-image: url("line_i.png");
}
#c {
    background-image: url("circle_i.png");
}
#r {
    background-image: url("rectangle_i.png");
}
#t {
    background-image: url("triangle_i.png");
}
#U {
    background-image: url("undo.png");
}
#R {
    background-image: url("redo.png");
}
#u {
    background-image: url("upload.png");
}
#d {
    background-image: url("download.png");
}
#solid {
    margin: 0 0 5% 12%;
}
#size {
    width: 100px;
    margin: 0 0 5% 12%;
}
#up_b {
    left: 10px;
    top: 250px;
    width: 300px;
    height: 300px;
    display: none;
    background: rgba(190, 190, 190, 1);
    position: absolute;
    vertical-align: middle;
    padding: 10px;
    line-height: 24px;
    font-size:20px;
}
#up_data {
    display: none;
}
#up_btn {
    display: none;
}
#keyin {
    width: 100px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    display: none;
    position: absolute;
    vertical-align: middle;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    line-height: 24px;
}
.display{
    background-color: black;
    border-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    width: 97%;
    padding-top: 10%;
    font-size:50px;
    text-align: center;  
}    
.color {
    margin: 2% 0 5% 18%;
    font-size:15px;
}
.others {
    padding: 10% 0 10% 12%;
}
.text_other {
    font-size:20px;
    color:white;
    margin: 0 0 0 5%;
}
.row{
    width: 100%;
    text-align: center;
    line-height: 20px;
}

.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    color: white;
    font-size: 20px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
.btn2{
    width: 50px;
    height: 50px;
    background: orange;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    color: white;
    font-size: 20px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;	
}
.up_d {
    width: 100px;
}
.btn3{
    background: #dfdfdf;
    color: black;
}
.btn:hover {
    background: #dddddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    color: #FFFFFF;
}	
td {
    border: 3px solid gray;
}
table {
    margin: 0 0 0 0;
}